@model Lession04.Models.LvsBook
@{
    ViewData["Title"] = "Thêm sách mới";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="LvsCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Tên sách</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Author" class="control-label">Tác giả</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category" class="control-label">Thể loại</label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Giá sách</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalPages" class="control-label">Tổng số trang</label>
                <input asp-for="TotalPages" class="form-control" />
                <span asp-validation-for="TotalPages" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Hình ảnh/Poster</label>
                <input type="file" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Giới thiệu ngắn</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
                <a asp-action="LvsIndex" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}s