@model Lession04.Models.LvsBook

@{
    ViewData["Title"] = "Chỉnh sửa sách";
    Layout = "_LvsLayout";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="LvsEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label class="control-label">Lvs_TenSach</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Lvs_TacGia</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Lvs_TheLoai</label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Lvs_GiaSach</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Lvs_TongSoTrang</label>
                <input asp-for="TotalPages" class="form-control" />
                <span asp-validation-for="TotalPages" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Lvs_HinhAnh/Poster</label>
                <input type="file" class="form-control" />
                <span class="text-muted">Browse... No file selected.</span>
            </div>

            <div class="form-group">
                <label class="control-label">Lvs_GioiThieuNgan</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LvsIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}