<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Lession04 - <a asp-area="" asp-controller="LvsHome" asp-action="LvsAbout">Privacy</a>
    </div>
</footer>