@{
    ViewData["Title"] = "Home Page - Lục Văn Sơn";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP .NET CORE</h1>
    <p> First time building Web apps with ASP.NET Core :D</p>
</div>
